<div style='max-width: 90%; margin: 0 auto;'>
  <h1>Change Password</h1>
</div>
<form [formGroup]='passwordForm' (ngSubmit)='submit(passwordForm.value)'>
  <fieldset class='form__fieldset form__fieldset--row'>
    <div class='form__column'>
      <i-feather class="form__input--validation valid" *ngIf="newPassword.valid" name='check'></i-feather>
      <!-- New Password Errors -->
      <ng-container *ngIf='newPassword.invalid && newPassword.touched'>
        <i-feather class="form__input--validation invalid" name='x'></i-feather>
        <div class='error__message' *ngIf="newPassword.errors.required">
          New Password Required
        </div>
        <div class='error__message' *ngIf="newPassword.errors.pattern">
          New password is invalid
          <!--Passwords must be end at least characters, contain: an uppercase letter, a special character (@$!%*#?&), and at least 1 number.-->
        </div>
      </ng-container>
      <!-- End New Password Errors -->
      <input class='form__input' placeholder='New Password' type='password' formControlName='newPassword' id='newPassword'>
      <label class='form__label' for='newPassword'>New Password</label>
    </div>
    <div class='form__column'>
      <i-feather class="form__input--validation valid" *ngIf="confirmPassword.valid" name='check'></i-feather>
      <!-- Confirm Password Errors -->
      <ng-container *ngIf='confirmPassword.invalid && confirmPassword.touched'>
        <i-feather class="form__input--validation invalid" name='x'></i-feather>
        <div class='error__message' *ngIf="confirmPassword.errors.required">
          Confirm Password Required
        </div>
        <div class='error__message' *ngIf="confirmPassword.errors.notSame">
          Password Does not match
        </div>
      </ng-container>
      <!-- End Confirm Password Errors -->
      <input class='form__input' placeholder='Confirm Password' type='password' formControlName='confirmPassword' id='confirmPassword'>
      <label class='form__label' for='confirmPassword'>Confirm Password</label>
    </div>
  </fieldset>
  <fieldset class='form__fieldset form__fieldset--row'>
    <i-feather class="form__input--validation valid" *ngIf="currentPassword.valid" name='check'></i-feather>
    <!-- Current Password Errors -->
    <ng-container *ngIf='currentPassword.invalid && currentPassword.touched'>
      <i-feather class="form__input--validation invalid" name='x'></i-feather>
      <div class='error__message' *ngIf="currentPassword.errors.required">
        Current Password Required
      </div>
    </ng-container>
    <!-- End Current Password Errors -->
    <input class='form__input' type='password' placeholder='Current Password' formControlName='currentPassword' id='currentPassword'>
    <label class='form__label' for='currentPassword'>Current Password</label>
  </fieldset>
  <div class='form__row'>
    <button class='btn--disabled' type='submit' *ngIf='passwordForm.invalid else submitButton' disabled>Change Password</button>
  </div>
</form>
<ng-template #submitButton>
  <button class='btn--primary' type='submit'>Change Password</button>
</ng-template>
