<div style="max-width: 90%; margin: 0 auto">
  <h1>Change Password</h1>
</div>
<form [formGroup]="passwordForm" (ngSubmit)="submit(passwordForm.value)">
  <fieldset class="form__fieldset form__fieldset--row">
    <div class="form__column">
      @if (newPassword?.valid) {
        <i-feather
          class="form__input--validation valid"
          name="check"
        ></i-feather>
      }
      <!-- New Password Errors -->
      @if (newPassword?.invalid && newPassword?.touched) {
        <i-feather class="form__input--validation invalid" name="x"></i-feather>
        @if (newPassword?.errors?.required) {
          <div class="error__message">
            New Password Required
          </div>
        }
        @if (newPassword?.errors?.pattern) {
          <div class="error__message">
            New password is invalid
            <!--Passwords must be end at least characters, contain: an uppercase letter, a special character (@$!%*#?&), and at least 1 number.-->
          </div>
        }
      }
      <!-- End New Password Errors -->
      <input
        class="form__input"
        placeholder="New Password"
        type="password"
        formControlName="newPassword"
        id="newPassword"
        />
      <label class="form__label" for="newPassword">New Password</label>
    </div>
    <div class="form__column">
      @if (confirmPassword?.valid) {
        <i-feather
          class="form__input--validation valid"
          name="check"
        ></i-feather>
      }
      <!-- Confirm Password Errors -->
      @if (confirmPassword?.invalid && confirmPassword?.touched) {
        <i-feather class="form__input--validation invalid" name="x"></i-feather>
        @if (confirmPassword?.errors?.required) {
          <div class="error__message">
            Confirm Password Required
          </div>
        }
        @if (confirmPassword?.errors?.notSame) {
          <div class="error__message">
            Password Does not match
          </div>
        }
      }
      <!-- End Confirm Password Errors -->
      <input
        class="form__input"
        placeholder="Confirm Password"
        type="password"
        formControlName="confirmPassword"
        id="confirmPassword"
        />
      <label class="form__label" for="confirmPassword">Confirm Password</label>
    </div>
  </fieldset>
  <fieldset class="form__fieldset form__fieldset--row">
    @if (currentPassword?.valid) {
      <i-feather
        class="form__input--validation valid"
        name="check"
      ></i-feather>
    }
    <!-- Current Password Errors -->
    @if (currentPassword?.invalid && currentPassword?.touched) {
      <i-feather class="form__input--validation invalid" name="x"></i-feather>
      @if (currentPassword?.errors?.required) {
        <div class="error__message">
          Current Password Required
        </div>
      }
    }
    <!-- End Current Password Errors -->
    <input
      class="form__input"
      type="password"
      placeholder="Current Password"
      formControlName="currentPassword"
      id="currentPassword"
      />
    <label class="form__label" for="currentPassword">Current Password</label>
  </fieldset>
  <div class="form__row">
    <button
      type="submit"
      [class.btn--primary]="passwordForm.valid"
      [class.btn--disabled]="passwordForm.invalid"
      [disabled]="passwordForm.invalid"
      >
      Change Password
    </button>
  </div>
</form>
