<div style='max-width: 90%; margin: 0 auto;'>
  <h1>Change Password</h1>
</div>
<form [formGroup]='passwordForm' (ngSubmit)='submit(passwordForm.value)'>
  <fieldset class='form__fieldset form__fieldset--row'>
    <div class='form__column'>
      <input class='form__input' type='password' formControlName='newPassword' id='newPassword'>
      <label class='form__label' for='newPassword'>New Password</label>
    </div>
    <div class='form__column'>
      <input class='form__input' type='password' formControlName='confirmPassword' id='confirmPassword'>
      <label class='form__label' for='confirmPassword'>Confirm Password</label>
    </div>
  </fieldset>
  <fieldset class='form__fieldset form__fieldset--row'>
    <input class='form__input' type='password' formControlName='currentPassword' id='currentPassword'>
    <label class='form__label' for='currentPassword'>Current Password</label>
  </fieldset>
  <div class='form__row'>
    <button class='btn--primary' type='submit'>Change Password</button>
  </div>
</form>
