<section class="l-container">
  <h3>Comments ({{count}})</h3>
  <div class="l-row">
      <app-create-comment class="app-create-comment"></app-create-comment>
  </div>
  <ng-container *ngIf="commentsEnabled else commentsDisabled">
      <article class="card comment" *ngFor="let comment of comments">
        <div class="l-row comment__info">
          <a routerLink="/u/{{ comment['username'] }}">{{ comment['username'] }}</a>
          <em>
            Created {{ comment['time_difference'] }}
            <span class="tooltip">{{comment['formatted_creation_date']}}</span>
          </em>
        </div>
        <p class="comment__message">{{ comment['comment'] }}</p>
      </article>
  </ng-container>
</section>
<ng-template #commentsDisabled>
  <div class="l-row">
    <p>This list doesn't have comments enabled</p>
  </div>
</ng-template>
