@use "variables" as vars
@import url('https://use.typekit.net/ape0zgx.css')
*
  box-sizing: border-box
  &:before, &:after
    box-sizing: inherit
html
  font-size: 92%
  @media (min-width: vars.$medium)
    font-size: 96%
  @media (min-width: vars.$large)
    font-size: 100%
body
  margin: 0
  padding: 0
  font: vars.$f-weight--regular vars.$f-size--small vars.$fira-sans
  background: vars.$bg
app-root
  min-height: 100vh
  display: flex
  flex-direction: column
main
  flex: 1 0 auto
button
  border: none
  background: none
  font-size: 1rem
a
  text-decoration: none
  color: vars.$grey
  transition: color vars.$t-easeOutBack
  &:hover
    color: vars.$black
