<div class="l-container__form">
  <div class="l-row">
    <app-back-button></app-back-button>
    <h1>Reset Your Password</h1>
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)" class="form">
      <fieldset class="form__fieldset">
        <input type="password" formControlName="password" class="form__input" id="password" placeholder="password">
        <label for="password" class="form__label">New Password</label>
      </fieldset>
    <div class='form__row'>
      <button *ngIf="resetPasswordForm.invalid else submit" class='btn btn--disabled form__btn' [disabled]="true" type='submit'>Reset Password</button>
      <ng-template #submit><button class='btn btn--primary form__btn'>Reset Password</button></ng-template>
    </div>
  </form>
</div>
