@use "src/sass/variables"
svg.feather
  transition: variables.$t-easeOutBack
  &-menu
    line
      stroke: variables.$grey
      transition: variables.$t-easeOutBack

.is-active
  svg.feather-menu
    transform: rotate(135deg)
    transition-duration: 0.5s
    transform-origin: center
    line
      stroke: variables.$black
      transform-origin: center
      &:first-child
        transform: rotate(90deg)
      &:nth-child(2)
        transform: translateY(25%)
      &:last-child
        transform: translateX(-100%)
