<div class="l-container__form">
  <app-back-button></app-back-button>
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit(registrationForm.value)"
    class="form"
  >
    {{ errorMessage }}
    <div class="form__fieldset--row">
      <!--   Start First Name   -->
      <fieldset class="form__fieldset form__column">
        <input
          type="text"
          autocomplete="given-name"
          formControlName="firstName"
          name="first-name"
          class="form__input"
          id="first-name"
          placeholder="e.g. Joe"
        />
        <label for="first-name" class="form__label">First Name</label>
        <!--   If First Name is Valid   -->
        @if (firstName?.valid) {
          <i-feather
            class="form__input--validation valid"
            name="check"
          ></i-feather>
        }
        <!--   If First Name is Invalid   -->
        @if (firstName?.invalid && firstName?.touched) {
          <i-feather
            class="form__input--validation invalid"
            name="x"
          ></i-feather>
          <div class="error__message">First Name is required.</div>
        }
        <!--   End First Name Validation   -->
      </fieldset>
      <!--   End Fist Name   -->
      <!--   Start Last Name   -->
      <fieldset class="form__fieldset form__column">
        <input
          type="text"
          formControlName="lastName"
          class="form__input"
          autocomplete="family-name"
          id="last-name"
          placeholder="Last Name"
        />
        <label for="last-name" class="form__label">Last Name</label>
        <!--   If Last Name is Valid   -->
        @if (lastName?.valid) {
          <i-feather
            class="form__input--validation valid"
            name="check"
          ></i-feather>
        }
        <!--   If Last Name is Invalid   -->
        @if (lastName?.invalid && lastName?.touched) {
          <i-feather
            class="form__input--validation invalid"
            name="x"
          ></i-feather>
          <div class="error__message">Last Name is required.</div>
        }
        <!--   End Last Name Validation   -->
      </fieldset>
    </div>
    <!--   End Last Name   -->
    <!--   Start Username   -->
    <fieldset class="form__fieldset">
      <input
        type="text"
        formControlName="username"
        class="form__input"
        autocomplete="username"
        id="username"
        placeholder="Username"
      />
      <label for="username" class="form__label">Username</label>
      <!--   If Username is Valid   -->
      @if (username?.valid) {
        <i-feather
          class="form__input--validation valid"
          name="check"
        ></i-feather>
      }
      <!--   If Username is Invalid   -->
      @if (username?.invalid && username?.touched) {
        <i-feather class="form__input--validation invalid" name="x"></i-feather>
        @if (username?.errors?.required) {
          <div class="error__message">Username is required.</div>
        }
        @if (username?.errors?.pattern) {
          <div class="error__message">Username is invalid</div>
        }
      }
      <!--   End Username Validation   -->
    </fieldset>
    <!--   End Username   -->
    <!--   Start Email   -->
    <fieldset class="form__fieldset">
      <input
        type="email"
        formControlName="email"
        class="form__input"
        autocomplete="email"
        id="email"
        placeholder="Email"
      />
      <label for="email" class="form__label">Email</label>
      <!--   If Email is Valid   -->
      @if (email?.valid) {
        <i-feather
          class="form__input--validation valid"
          name="check"
        ></i-feather>
      }
      <!--   If Email is Invalid   -->
      @if (email?.invalid && email?.touched) {
        <i-feather class="form__input--validation invalid" name="x"></i-feather>
        <div class="error__message">Valid Email is required.</div>
      }
      <!--   End Email Validation   -->
    </fieldset>
    <!--   End Email   -->
    <!--   Start Password   -->
    <fieldset class="form__fieldset">
      <input
        type="password"
        formControlName="password"
        class="form__input"
        id="password"
        placeholder="Password"
      />
      <label for="password" class="form__label">Password</label>
      <!--   If Password is Valid   -->
      @if (password?.valid) {
        <i-feather
          class="form__input--validation valid"
          name="check"
        ></i-feather>
      }
      <!--   If Password is Invalid   -->
      @if (password?.invalid && password?.touched) {
        <i-feather class="form__input--validation invalid" name="x"></i-feather>
        <div class="error__message">Valid Password is required.</div>
      }
      <!--   End Password Validation   -->
    </fieldset>
    <!--   End Password   -->
    <div class="form__row">
      @if (registrationForm.invalid) {
        <button
          class="btn btn--disabled form__btn"
          [disabled]="true"
          type="submit"
        >
          Register
        </button>
      } @else {
        <button class="btn btn--primary form__btn">Register</button>
      }
      <ng-template #submit
        ><button class="btn btn--primary form__btn">
          Register
        </button></ng-template
      >
      <a routerLink="/login" class="btn">Existing User?</a>
    </div>
  </form>
</div>
