<ng-container *ngIf="isOwner">
  <form [formGroup]='listItemForm' (ngSubmit)="onSubmit(listItemForm.value)">
    <fieldset class='form__fieldset'>
      <input type="text" formControlName='item' id='list_item' class='form__input' placeholder="List Item">
      <label class='form__label' for="list_item">List Item Name</label>
    </fieldset>
    <fieldset class='form__fieldset'>
      <input type="date" formControlName='deadline' id='deadline' class='form__input' placeholder="Deadline">
      <label class='form__label' for="deadline">Deadline (Optional)</label>
    </fieldset>
    <button *ngIf="item.invalid else submit" class='btn btn--disabled form__btn' [disabled]="true" type='submit'>Add Item</button>
  </form>
</ng-container>

<!-- Templates -->
  <!-- Submit Button -->
  <ng-template #submit><button class='btn btn--primary form__btn'>Add Item</button></ng-template>
<!-- End Templates -->
