<footer>
  <p>
    <span style="position: relative; top: 2px">&copy;</span>
    {{ currentYear }} Listet. All rights reserved. Subsidiary of
    <a href="https://manuelosorio.me/" target="_blank" rel="noopener"
      >Manuel Osorio</a
    >.
  </p>
  <div class="social">
    <a
      href="https://github.com/manuelosorio"
      target="_blank"
      rel="noopener"
      class="social--icon"
      title="Github @manuelosorio"
      ><i-feather name="Github"></i-feather
    ></a>
    <a
      href="https://twitter.com/theManuelOsorio"
      target="_blank"
      rel="noopener"
      class="social--icon"
      title="Twitter @theManuelOsorio"
      ><i-feather name="Twitter"></i-feather
    ></a>
    <a
      href="https://www.linkedin.com/in/manuel-osorio/"
      target="_blank"
      rel="noopener"
      class="social--icon"
      title="Linkedin @manuel-osorio"
      ><i-feather name="Linkedin"></i-feather
    ></a>
  </div>
</footer>
