@use '../../../sass/variables'
.alert
  background: variables.$grey
  color: variables.$black
  padding: 0.125em 1em
  &--success
    background: variables.$green
    color: variables.$bg
  &--warning
    background: variables.$primary
    color: variables.$black
    a
      color: lighten(variables.$black, 15%)
      &:hover
        color: variables.$black
  &--error
    background: variables.$red
    color: variables.$bg
  &--success, &--error
    a
      color: darken(variables.$bg, 10%)
      &:hover
        color: variables.$bg
  div
    display: flex
    flex-direction: row
    width: 98%
    max-width: 1400px
    margin: auto
    justify-content: space-between
    align-items: center
  i-feather
    cursor: pointer
.icon__wrap
  display: flex
  justify-content: center
  align-items: center
a
  //text-decoration: none
  transition: color variables.$t-easeOutBack
