@if (!hideSearch) {
  <form
    class="search__form"
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit(search.value)"
    >
    <fieldset class="form__fieldset search">
      <input
        type="text"
        class="search__input"
        placeholder="Search for User or List"
        formControlName="search"
        name="search"
        id="search"
        />
      <label class="search__label" for="search"
        >Search @if (windowWidth > 360) {
        <span>for a list or user</span>
        }</label
        >
        <button type="submit" class="btn--primary search__btn" aria-label="search">
          <i-feather name="search"></i-feather>
        </button>
      </fieldset>
    </form>
  }
