<div class='l-container__1200--row'>
  <aside class='l-column-xs-4'>
    <nav>
      <ul>
        <li><a [routerLink]="['/settings']" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']">Profile</a></li>
        <li><a [routerLink]="['change-password']" [routerLinkActive]="['is-active']">Password</a></li>
        <li><a [routerLink]="['delete-account']" [routerLinkActive]="['is-active']">Delete Account</a></li>
      </ul>
    </nav>
  </aside>
  <div class='card l-column-xs-8'>
    <router-outlet></router-outlet>
  </div>
</div>
