<div style='max-width: 90%; margin: 0 auto;'>
  <h1>Account Deletion</h1>
</div>
<form [formGroup]='formGroup'>
  <fieldset class='form__fieldset form__fieldset--row'>
    <input name='password' type="password" placeholder='password' formControlName='password' class='form__input' id='password'>
    <label for='password' class='form__label'>password</label>
    <i-feather class="form__input--validation valid" *ngIf="password.valid" name='check'></i-feather>
    <ng-container *ngIf="password.invalid && password.touched">
      <i-feather class="form__input--validation invalid" name='x'></i-feather>
      <div class="error__message">
        Password is required.
      </div>
    </ng-container>
  </fieldset>
  <fieldset class='form__fieldset form__fieldset--row'>
    <button class='btn l-column-md-6' [class.btn--primary__ghost]='formGroup.valid' [class.btn--disabled__ghost]='formGroup.invalid' [disabled]='formGroup.invalid' (click)="deleteAccount(formGroup.value)">Delete Account</button>
    <button class='btn l-column-md-6' [class.btn--primary]='formGroup.valid' [class.btn--disabled]='formGroup.invalid' [disabled]='formGroup.invalid' (click)='deactivateAccount(formGroup.value)'>Deactivate Account</button>
  </fieldset>
</form>
