@use "src/sass/variables"
@use "src/sass/utils"
feather-icon
  +utils.size(variables.$f-size--small)
  margin-left: 0.5em
  padding: 0
.l-row
  justify-content: left
.btn
  vertical-align: middle
