<ng-template #navDefault>
  <nav class="navigation">
    <a routerLink="/" class="navigation__logo"><img src="/assets/images/logo.svg" alt="Listet"></a>
    <ul class="navigation__links">
      <li class="navigation__links-item"><a routerLink="/">Home</a></li>
      <li class="navigation__links-item"><a routerLink="/lists">All Lists</a> </li>
      <li class="navigation__links-item">
        <a class="btn" routerLink="/login">Login</a>
      </li>
      <li class="navigation__links-item"><a routerLink="/register">Register</a></li>
    </ul>
  </nav>
</ng-template>
<nav class="navigation" *ngIf="authenticated === true else navDefault">
  <a routerLink="/" class="navigation__logo"><img src="/assets/images/logo.svg" alt="Listet"></a>
  <ul class="navigation__links">
    <li class="navigation__links-item"><a routerLink="/">Home</a></li>
    <li class="navigation__links-item"><a routerLink="/lists">All Lists</a> </li>
    <li class="navigation__links-item">
      <button class="btn">New Post</button>
    </li>
    <li class="navigation__links-item"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
