<section>
  <ng-container *ngFor="let item of items">
    <ng-container>
      <div>
        <input (change)="checked($event)" [checked]="item['completed'] === 1" [disabled]="!isOwner" class="form__input--checkbox"
               id="item-{{item['id']}}" type="checkbox">
        <label [class.list-item__checkbox--disabled]="!isOwner" class="list-item" for="item-{{item['id']}}">
          <span>
                <i-feather [name]="item['completed'] === 0 ? 'square' : 'check-square'"></i-feather>
          </span>
          <span class="list-item__info">
            {{item["item"]}}
          </span>
          <app-deadline [deadline]="item['deadline']"></app-deadline>
        </label>
        <ng-container *ngIf="isOwner">
          <button (click)="deleteListItem(item['id'])">
            <i-feather name="trash"></i-feather>
          </button>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</section>
<app-add-item></app-add-item>
