@if (hasDeadline) {
  @if (isComplete) {
    <small class="complete">
      <em>Completed</em>
    </small>
  } @else {
    <small [class.danger]="isOverDue">
      <span
        >@if (!isOverDue) {
        <i-feather name="clock"></i-feather
          >
        } @else {
          <i-feather name="alert-circle"></i-feather
            >
          }</span>
          <em>{{ formattedDeadline }}</em>
        </small>
      }
    } @else {
      <small class="no-deadline">
        <span><i-feather name="clock"></i-feather></span>
        <em>No Deadline</em>
      </small>
    }
