<ng-container *ngIf="commentsEnabled">
  <form class="card__inset" [formGroup]="commentForm" (ngSubmit)='onSubmit(commentForm.value)'>
    <fieldset class="form__fieldset--row">
      <textarea formControlName="comment" name="comment" id="comment" placeholder="Write a comment..." class="form__input--textarea"></textarea>
      <label for="comment" class="form__label">Create Comment</label>
    </fieldset>
    <div class="form__fieldset--row" style="align-items: flex-start">
      <button *ngIf="comment.invalid else submit" class='btn btn--disabled form__btn' [disabled]="true" type='submit'>Comment</button>
      <app-character-counter [minimumCount]='20' [characterCounter]='commentCharacterCount'></app-character-counter>
    </div>
  </form>
</ng-container>

<ng-template #submit><button class='btn btn--primary form__btn'>Comment</button></ng-template>
