  <form class="card" [formGroup]="commentForm" (ngSubmit)='onSubmit(commentForm.value)'>
    <fieldset class="form__fieldset--row">
      <textarea formControlName="comment" name="comment" id="comment" placeholder="Write a comment..."></textarea>
    </fieldset>
    <div class="form__fieldset--row" style="align-items: flex-start">
      <button *ngIf="comment.invalid else submit" class='btn btn--disabled form__btn' [disabled]="true" type='submit'>Comment</button>
    </div>
  </form>


<ng-template #submit><button class='btn btn--primary form__btn'>Comment</button></ng-template>
