<div class="l-container__form">
  <div class="l-row">
    <app-back-button></app-back-button>
    <h1>Login To Your Account</h1>
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
    class="form"
    >
    @if (errorMessage !== null) {
      <div class="flag--err">
        {{ errorMessage }}
      </div>
    }
    <fieldset class="form__fieldset">
      <input
        type="text"
        formControlName="email"
        autocomplete="email"
        name="email"
        id="email"
        class="form__input"
        placeholder="email"
        />
      <label for="email" class="form__label">Email</label>
      @if (email?.invalid && email?.touched) {
        <div class="error__message">
          email is required.
        </div>
      }
    </fieldset>
    <fieldset class="form__fieldset">
      <input
        type="password"
        formControlName="password"
        id="password"
        autocomplete="current-password"
        name="password"
        class="form__input"
        placeholder="password"
        />
      <label for="password" class="form__label">Password</label>
      @if (password?.invalid && password?.touched) {
        <div
          class="error__message"
          >
          Password is required.
        </div>
      }
    </fieldset>
    <div class="form__row">
      <fieldset class="form__fieldset form__fieldset--row">
        <input
          type="checkbox"
          value="remember-me"
          id="remember-me"
          formControlName="remember"
          class="form__input--checkbox"
          (change)="checked($event)"
          />
        <label for="remember-me">
          @if (isChecked === true) {
            <i-feather name="check-square"></i-feather
              >
            } @else {
              <i-feather name="square"></i-feather
                >
              }
              <span>Remember Me</span></label
              >
            </fieldset>
            <a routerLink="/forgot-password" class="forgot">Forgot Password?</a>
          </div>
          <div class="form__row">
            @if (email?.invalid || password?.invalid) {
              <button
                class="btn btn--disabled form__btn"
                [disabled]="true"
                type="submit"
                >
                Log In
              </button>
            } @else {
              <button class="btn btn--primary form__btn">Log In</button>
            }
            <ng-template #submit
              ><button class="btn btn--primary form__btn">Log In</button></ng-template
              >
              <a routerLink="/register" class="btn">New User?</a>
            </div>
          </form>
        </div>
