<ngx-masonry [options]="masonryOptions" [ordered]="true" class="lists-container">
  <div ngxMasonryItem class="masonry-item" *ngFor="let list of masonryLists">
    <a  class="list card" [routerLink]="[ '/l/' + list['owner_username'] + '/' + list['slug']]">
      <div class="l-row">
        <h3 class="card__title">{{list['name']}}</h3>
        <app-deadline *ngIf="list['deadline']" class="deadline" [isComplete]="false" [deadline]="list['deadline']"></app-deadline>
      </div>
      <div class="l-row">
        <a [routerLink]="['/u/' + list['owner_username']]">t
          {{ list['owner_username'] }}
        </a>

        <em>Created: {{ list['creation_date'] }} </em>
      </div>
      <div class="l-row">
        <p *ngIf="list['description']" class="card__description">{{ list['description'] }}</p>
      </div>
    </a>
  </div>
</ngx-masonry>
