@use '../variables'
.btn
  border-radius: 2rem
  display: block
  padding: 0.65em 2em
  text-align: center
  color: variables.$black
  transition: variables.$t-easeOutBack
  width: fit-content
  cursor: pointer
  transition-property: box-shadow, color, transform
  &:focus
    outline: none
  &--primary
    background: variables.$primary
    box-shadow: variables.$shadow
    &:hover
      background: variables.$primary-darken
      box-shadow: variables.$shadow-hover
      color: variables.$black-darken
      transform: translateY(3px)
  &--go-back
    display: flex
    flex-direction: row
    align-items: center
    padding: 0
    span
      padding: 1em
  &--disabled
    background: variables.$disabled
    border: solid 1 px variables.$disabled
    cursor: not-allowed
    color: variables.$disabled-text
    &:hover
      background: variables.$disabled
      box-shadow: inherit
