@use '../variables'
.btn
  border-radius: 2rem
  display: block
  padding: 0.65em 2em
  text-align: center
  color: variables.$black
  transition: variables.$t-easeOutBack
  width: fit-content
  cursor: pointer
  transition-property: background-color, box-shadow, color, transform
  &:focus
    outline: none
  &:active
    box-shadow: variables.$shadow-hover
    transform: translateY(3px)
  &--primary
    @extend .btn
    background: variables.$primary
    box-shadow: variables.$shadow
    &:hover
      background: variables.$primary-darken
      color: variables.$black-darken
  &--go-back
    display: flex
    flex-direction: row
    align-items: center
    padding: 0
    span
      padding: 1em
  &--disabled
    @extend .btn
    background: variables.$disabled
    border: solid 1px variables.$disabled
    cursor: not-allowed
    color: variables.$disabled-text
    &:hover
      background: variables.$disabled
      box-shadow: inherit
    &:active
      transform: none
