@use '~src/sass/variables'
\:host
  background: variables.$silver
  padding: 1em 1.75em
  display: block
.l-container
  width: 90%
  max-width: 1100px
  display: flex
  flex-direction: column
  justify-content: left
  margin: auto
.description
  max-width: 100ch
  white-space: pre-wrap
  line-height: 1.5em
button
  font-size: variables.$f-size--small
i-feather
  width: 1em
