@for (head of header; track head) {
  <section class="l-container">
    @if (head['isEditing'] === false) {
      <div>
        <p>{{ head.name }}</p>
        <a [routerLink]="['/u/' + head.owner_username]">{{
          head.owner_username
        }}</a>
        <p>Created: {{ head.creation_date | date: 'mediumDate'}}</p>
        <app-deadline [deadline]="head.deadline" [isComplete]="false"></app-deadline>
        @if (isOwner) {
          <div class="">
            <button (click)="edit()">
              <i-feather name="edit"></i-feather> Edit
            </button>
            <button (click)="delete()">
              <i-feather name="trash"></i-feather> Delete
            </button>
          </div>
        }
        <p class="description">{{ head.description }}</p>
      </div>
    } @else {
      <app-edit-list [list]="head"></app-edit-list>
    }
  </section>
}
