@use "~src/sass/variables"
@use "../breakpoint/breakpoint" as *
@use "./display" as *


@each $property in $display
  .visibility--#{ $property }
    display: #{ $property }
    +breakpoint(variables.$breakpoint-x-small)
      &__xs
        display: #{ $property } !important
    +breakpoint(variables.$breakpoint-small)
      &__sm
        display: #{ $property } !important
    +breakpoint(variables.$breakpoint-medium)
      &__md
        display: #{ $property } !important
    +breakpoint(variables.$breakpoint-large)
      &__lg
        display: #{ $property } !important
