<div class="l-container__form">
  <div class="l-row">
    <app-back-button></app-back-button>
    <h1>Forgot Password</h1>
  </div>
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit(forgotPasswordForm.value)"
    class="form"
  >
    <fieldset class="form__fieldset">
      <input
        type="email"
        formControlName="email"
        class="form__input"
        id="password"
        placeholder="example@email.com"
      />
      <label for="password" class="form__label">Email</label>
    </fieldset>
    <div class="form__row">
      <button
        *ngIf="forgotPasswordForm.invalid; else submit"
        class="btn btn--disabled form__btn"
        [disabled]="true"
        type="submit"
      >
        Request Password Reset
      </button>
      <ng-template #submit
        ><button class="btn btn--primary form__btn" type="submit">
          Request Password Reset
        </button></ng-template
      >
    </div>
  </form>
</div>
