<h1>User Signup</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
  <label for="firstName">First Name</label>
  <input type="text" formControlName="firstName" name="firstName" id="firstName">
  <label for="lastName">Last Name</label>
  <input type="text" formControlName="lastName"  id="lastName">
  <label for="username">Username</label>
  <input type="text" formControlName="username"  id="username">
  <label for="email">Email</label>
  <input type="email" formControlName="email"  id="email">
  <label for="password">Password</label>
  <input type="password" formControlName="password"  id="password">
  <button class="button" type="submit">Signup</button>
</form>
