<div class='l-container__form'>
  <div class='l-row'>
    <h1>
      Create a New List
    </h1>
  </div>
  <form [formGroup]='createListForm' (ngSubmit)='onSubmit(createListForm.value)' class='form'>
    <fieldset class='form__fieldset'>
      <!-- Title -->
      <input type='text' formControlName='title' id='title' class='form__input' placeholder="Title">
      <label for='title' class='form__label'>Title</label>
    </fieldset>
    <!-- Deadline -->
    <fieldset class='form__fieldset'>
      <input type='date' formControlName='deadline' id='deadline' class='form__input'>
      <label for='deadline' class='form__label'>Deadline (Optional)</label>
    </fieldset>
    <!-- Description -->
    <fieldset class='form__fieldset'>
      <textarea type='text' formControlName='description' id='description' class='form__input--textarea' placeholder="Description"></textarea>
      <label for='description' class='form__label'>Description (Optional)</label>
    </fieldset>
    <!-- Allow Comments -->
    <fieldset class='form__fieldset--row allow-comments'>
      <input type='checkbox' value='allow_comments' id='allow_comments' formControlName='allow_comments' class='form__input--checkbox' (change)='allowCommentsChecked($event)'>
      <label class="form__label" for='allow_comments'>
        <ng-container *ngIf='allowComments else iconDefault'><i-feather name='check-square'></i-feather></ng-container>
        <span>Allow Comments</span></label>
    </fieldset>
    <!-- End Allow Comments -->
    <!-- List Visibility -->
    <fieldset class='form__fieldset--row' id='visibility'>
      <legend>List Visibility</legend>
      <div>
        <input type='radio' [value]='visibilityOptions[0]' id='private' formControlName='visibility' class='form__input--radio'>

        <label class="form__label" for='private'><i class='form__radio'>&nbsp;</i><span>Private</span></label>
      </div>
      <div>
        <input type='radio' [value]='visibilityOptions[1]' id='unlisted' formControlName='visibility' class='form__input--radio'>
        <label class="form__label" for='unlisted'><i class='form__radio'>&nbsp;</i><span>Unlisted</span></label>
      </div>
      <div>
        <input type='radio' [value]='visibilityOptions[2]' id='public' formControlName='visibility' class='form__input--radio'>
        <label class="form__label" for='public'><i class='form__radio'>&nbsp;</i><span>Public</span></label>
      </div>
    </fieldset>
    <!-- End List Visibility -->
    <button *ngIf="title.invalid else submit" class='btn btn--disabled form__btn' [disabled]="true" type='submit'>Create List</button>
  </form>
</div>

<!-- Templates -->
  <!-- Check Box -->
  <ng-template #iconDefault><i-feather name='square'></i-feather></ng-template>
  <!-- Submit Button -->
  <ng-template #submit><button class='btn btn--primary form__btn'>Create List</button></ng-template>
<!-- End Templates -->
